:root {
  --color-primary: #9b111e;
  --color-primary-dark: #691021;
  --color-primary-light: #cd888f;
  --color-text: #1c1b1f;
  --color-background: #fdfdfd;
  --color-black-rgba: 0, 0, 0;
  --color-gray: #d2d2d2;
  --color-gray-dark: #575757;
  --color-gray-light: #e6e6e6;
  --color-gray-gradient: linear-gradient(to right, #434343 0%, black 100%);

  --font-size-small: 1.28rem;
  --font-size-medium: 1.6rem;
  --font-size-default: 2rem;
  --font-size-heading-4: 2.5rem;
  --font-size-heading-3: 3.125rem;
  --font-size-heading-2: 3.906rem;
  --font-size-heading-1: 4.883rem;

  --line-height-default: 1.7;

  --font-family-sans-serif: 'Roboto', Arial, Helvetica, sans-serif;
  --font-family-sans-serif-condensed:
    'Roboto Condensed', 'Arial Narrow', sans-serif;
  --font-family-monospace:
    'Roboto Mono', Consolas, Menlo, 'Courier New', monospace;

  --border: 0.2rem solid var(--color-text);
}
