<a href='#content' class='skip-link visually-hidden'>Skip to main content</a>

<style>
  .visually-hidden {
    position: absolute !important;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
  }

  .visually-hidden:focus {
    position: unset !important;
    outline: none;
  }

  .skip-link {
    display: block;
    font-family: var(--font-family-sans-serif-condensed);
    color: #fff;
    text-decoration: none;
    text-align: center;
    background-color: var(--color-primary);
  }

  .skip-link:hover {
    text-decoration: underline;
  }
</style>
