---
interface Props {
  tags: string[];
  withLinks?: boolean;
}

const {tags, withLinks} = Astro.props;
---

<ul class='tag-list'>
  {
    tags.map((tag) => (
      <li class='tag-item'>
        {withLinks ? (
          <a class='tag-text tag-link' href={`/blog/tags/${tag}/`}>
            {tag}
          </a>
        ) : (
          <span class='tag-text'>{tag}</span>
        )}
      </li>
    ))
  }
</ul>

<style>
  .tag-list {
    display: flex;
    flex-wrap: wrap;
    font-family: var(--font-family-sans-serif-condensed);
    font-size: var(--font-size-medium);
    font-weight: bold;
    color: var(--color-text-base);
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 0.4rem;
  }

  .tag-item {
    display: block;
  }

  .tag-text {
    display: block;
    padding: 0.1rem 0.4rem;
    background-color: var(--color-primary);
    color: #fff;
  }

  .tag-link {
    text-decoration: none;
  }
  .tag-link:hover {
    background-color: var(--color-primary-hover);
  }
  .tag-link:active {
    background-color: var(--color-primary-active);
  }
</style>
